.bloglist {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

@media (width < 820px) {
    .bloglist {
        grid-template-columns: 1fr 1fr;
    }
}

@media (width < 470px) {
    .bloglist {
        grid-template-columns: 1fr;
    }
}