.landing-pg {
  position: relative;
  overflow: hidden;
  animation: background-gradient 15s;
  animation-iteration-count: infinite;
  backface-visibility: hidden;
  animation-timing-function: ease-in-out;
}

@keyframes background-gradient {
  0% {
    background-color: #b2abab;
  }

  25% {
    background-color: rgb(200, 200, 189);
  }

  50% {
    background-color: #f0f0f5;
  }

  100% {
    background-color: #a0f3e0;
  }
}