
.Topbar {
    background-color: rgab(0,0,0,0.5);
    height: 6vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.Topbar header {
    display: flex;
}

.logo {
    background: url("../../../public/imgs/logo.png");
    height: 40px;
    width: 40px;
    border-radius: 50%;
}

.Topbar nav ul{
    display: flex;
}

.Topbar nav ul li  {
    margin: 0 1rem;
    list-style: none;
    color: black;
}

.menu li {
    position: relative;
}

.menu li .link::after{
    content: "";
    position: absolute;
    background-color: #66fcf1;
    height: 3px;
    width: 0;
    left: 0;
    bottom: -5px;
    transition: 0.5s;
}

.menu li .link:hover::after{
    width: 100%;
}
.menu li .link:hover{
    color: white;
    text-shadow: 0 0 20px;
}

.navbar-right {
    display: flex;
}
