
.Topbar {
    background-color: rgab(0,0,0,0.5);
    height: 6vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.Topbar header {
    display: flex;
}

.logo {
    background: url("../../../public/imgs/logo.png");
    height: 40px;
    width: 40px;
    border-radius: 50%;
}

.Topbar nav ul{
    display: flex;
}

.Topbar nav ul li {
    padding: 0 1rem;
    list-style: none;
    color: black;
}

.Topbar nav ul a {
    text-decoration: none;
}
