.Single {
    padding: 0 var(--spacing-xl);
    display: grid;
    min-height: 94svh;
    overflow: hidden;
    grid-template-columns: 1fr 0.3fr;
    background-image: var(--theme);
    background-size: 300%;
    background-repeat: no-repeat;
    background-position: left;
    animation: flow 20s infinite alternate;
    grid-template-areas:
        "preview comment";
}

.blog-preview {
    overflow-y: scroll;
    height: 84vh;
    position: relative;
    display: flex;
    flex-direction: column;
}

.redirect-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.blog-photo {
    width: 20rem;
    height: 20rem;
    display: flex;
    justify-content: center;
    overflow: hidden;
}

.blog-wrapper img {
    width: 100%;
    height: 100%;
}

.blog-photo img {
    width: 75vw;
    height: 50vh;
    transition: height 0.5s, width 0.5s;
}

.blog-photo:hover img {
    height: 100%;
    width: 80%;
}

.update-delete-container {
    font-size: var(--fontsize-lg);
    padding: 0 var(--spacing-rg);
}

.btn {
    margin: 0 var(--spacing-sm);
    cursor: pointer;
    transition: text-shadow 0.5s, color 0.5s;
}

.btn:hover {
    text-shadow: 0px 4px 10px var(--color-alternate-drk);
}

.edit-btn:hover {
    color: lightgreen;
}

.del-btn:hover {
    color: tomato;
}

.like-btn:hover {
    color: initial;
}

span {
    cursor: default;
}

span .cursor {
    cursor: pointer;
}

.title-preview {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 0.2fr;
    opacity: 0.5;
    font-size: var(--fontsize-xl);
    transition: opacity 1s;
}

.body-preview {
    grid-area: preview;
    height: calc(75vh - calc(2*var(--spacing-sm)));
    opacity: 0.5;
    width: 100%;
    font-size: var(--fontsize-lg);
    transition: opacity 1s, border-bottom 0.5s;
    resize: none;
}

.static-body-preview {
    overflow-y: scroll;
}

.comment-box {
    grid-area: comment;
}

.comment-div {
    padding: 0.5rem;
}

.comment-div>ul {
    margin-left: 1rem;
    list-style: none;
}



.spacing {
    margin: 0 var(--spacing-rg);
    font-weight: bold;
}

#comment-form {
    position: relative;
    width: 100%;
    min-height: 84vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#comment-form input {
    position: absolute;
    bottom: 0;
    width: 60%;
    padding: var(--spacing-sm) var(--spacing-xl);
    opacity: 0.5;
    font-size: var(--fontsize-rg);
    transition: opacity 1s;
    border-bottom-right-radius: 1rem;
    border-top-left-radius: 1rem;
}

#comment-form>header {
    padding: 1em;
    transition: text-shadow 0.5s;
}

#comment-form>header:hover {
    text-shadow: 3px 3px 4px whitesmoke;
}

@media screen and (max-width: 900px) {
    .Single {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 0.2fr;
        grid-template-areas:
            "preview"
            "comment";
    }

    #comment-form {
        min-height: auto;
    }

    #comment-form input {
        position: static;
        width: 40%;
    }
}