.Sidebar {
    position: fixed;
    right: 0;
    top: 6vh;
}

.side-bar {
    width: 22vw;
    height: 83vh;
    padding: var(--spacing-xl);
    transition: box-shadow 0.5s;
}

.side-bar:hover {
    box-shadow: -2px 4px 10px whitesmoke;
}

.side-bar > header {
    padding: 1em;
    transition: text-shadow 0.5s;
}

.side-bar > header:hover {
    text-shadow: 3px 3px 4px whitesmoke;
}

.img-list {
    width: 100%;
    margin-top: 2rem;
    height: 20%;
}

.img-list > header h3 {
    text-align: center;
    display: block;
}

/* Read-write toogle */
.theme {
    width: 100%;
    display: grid;
    place-items: center;
    padding-bottom: 1rem;
}

.list-wrapper ul {
    margin-top: var(--spacing-rg);
    display: grid;
    grid-template-columns: 1fr 1fr;
    list-style: none;
}

.list-wrapper ul li {
    position: relative;
    margin: var(--spacing-rg);
}

.list-wrapper ul .link li::after{
    content: "";
    position: absolute;
    background-color: #66fcf1;
    height: 3px;
    width: 0;
    left: 0;
    bottom: -5px;
    transition: 0.5s;
}

.list-wrapper ul .link li:hover::after{
    width: 100%;
}
.list-wrapper ul .link li:hover{
    color: white;
    text-shadow: 0 0 20px;
}

.contact-div {
    text-align: center;
}

.contact-icons {
    padding: 1rem;
    font-size: var(--fontsize-lg);
    color: var(--color-alternate-drk);
}

.contact-icons:hover {
    cursor: pointer;
}