.Blog {
    position: relative;
    height: 35vh;
    width: 35vh;
    padding: var(--spacing-lg);
    border-radius: 10%;
    margin: var(--spacing-rg);
    box-shadow: 0px 3px 5px var(--color-primary-brg);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: transform 0.5s, box-shadow 0.5s;
}
.Blog:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 10px var(--color-primary-brg), 0 6px 12px var(--color-alternate-brg), 0 8px 14px var(--color-primary-drk);
}
.Blog .img-wrapper {
    overflow: hidden;
    height: 20vh;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}

.Blog .img-wrapper img {
    width: 100%;
}
.Blog header {
    width:100%;
    text-align: center;
}
.Blog .body-wrapper {
    width: 100%;
    margin: var(--spacing-lg) 0;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    text-align: center;
    white-space: no-wrap;
    text-overflow: ellipsis;
    overflow:hidden;
}

.Blog footer h4{
    text-align: center;
    font-size: var(--fontsize-sm);
    color: rgb(232, 232, 232);
    transition: color 0.45s;
}

.Blog:hover footer h4{
    color: var(--color-alternate-drk);
}

.categories-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: var(--spacing-lg);
}

.categories-wrapper ul {
    display: flex;
}

.categories-wrapper ul li {
    list-style: none;
    padding: 0 var(--spacing-rg);
}