.Account {
    width: 100%;
    min-height: 88vh;
    background: #0B0C10;
    animation: slide 2s;
    animation-fill-mode: forwards;
}

@keyframes slide {
    0%{
        margin-top: 20vh;
        opacity: 0;
    }100%{
        margin-top: 0;
        opacity: 1;
    }
}

.container {
    display: flex;
    flex-direction: column;
}

.profile {
    height: 30vh;
    transition-duration: 1s;
}

.profile img{ 
    margin: 6vh;
    height: 20vh;
    width: 20vh;
    border-radius: 50%;
    transform: none;
    z-index: auto;
    background-size: cover;
    background-color: rgba(0,0,0,0);
    transition: 1s;
}

.profile img:hover {
    background-color: #66fcf1;
    box-shadow:0 0 4px #66fcf1, 0 0 6px #66fcf1, 0 0 8px #66fcf1;
}

.username {
    display: flex;
    margin-left: 3vh;
    padding: 4vh;
    color: white;
    text-shadow: 1px 1px 0 2px white;
    font-size: var(--fontsize-rg);
}

.username p {
    display: absolute;
    margin-left: 40vw;
    font-size: var(--fontsize-rg);

}

.email {
    display: flex;
    margin-left: 3vh;
    text-align: center;
    padding: 4vh;
    color: white;
    text-shadow: 1px 1px 0 2px white;
    font-size: var(--fontsize-rg);
}

.email p {
    display: absolute;
    margin-left: 38vw;
    font-size: var(--fontsize-rg);
}

.bio {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4vh;
    color: white;
    display: auto;
    text-shadow: 1px 1px 0 2px white;
    transition: 1s;
    font-size: var(--fontsize-rg);
}

.bio img {
    height: 1.75rem;
    width: 1.75rem;
    background-size: cover;
    margin-bottom: 2vh;
}

.bio input {
    margin-left: 10px;
    width: 100%;
    height: 20vh;
    border: none;
    background-color: #0B0C10;
    color: white;
    font-size: var(--fontsize-rg);
    transition: box-shadow 1s;
}

.bio input:hover {
    box-shadow: 0 0 4px #66fcf1, 0 0 6px #66fcf1, 0 0 8px #66fcf1;
}



/* =====================Editor btn===================== */
.editor {
    margin-top: -4vh;
    width: 100%;
    height: 50vh;
    opacity: 0.2;
    background: url("../../../public/imgs/header.jpg");
    background-position: left;
    transition: 2.5s;
    background-repeat: no-repeat;
}

.editor:hover {
    opacity: 1;
    background-position: right;
}

.editior:hover p {
    transform: translateY(-3px);
}

.editor p {
    font-weight: bold;
    font-size: var(--fontsize-rg);
    display: flex;
    padding: 16vh 0 10vh 0;
    justify-content: center;
    align-items: center;
    color: white;
}

.editor a {
    position: relative;
    display: inline-block;
    font-size: var(--fontsize-lg);
    margin-left: 45%;
    padding: 10px 20px;
    text-decoration: none;
    background: rgba(203, 204, 139, 0.5);
    color: whitesmoke;
    overflow: hidden;
}

.editorBtn {
    transition: 1s;
}

.editor .editorBtn:hover {
    color: #0B0C10;
    font-weight: bold;
    /* background-color: #768330; */
    box-shadow: 0 0 30px #768330, 0 0 60px #768330, 0 0 90px #768330;
    transition-delay: 1s;
}

.editor a span {
    position: absolute;
    display: block;
}

.editor a span:nth-child(1) {
    top: 0;
    left: -100%;
    height: 2px;
    width: 100%;
    background: linear-gradient(90deg,transparent,white);
}

.editor a:hover span:nth-child(1) {
    left: 100%;
    transition: 1s;
}

.editor a span:nth-child(2) {
    right: 0;
    top: -100%;
    height: 100%;
    width: 2px;
    background: linear-gradient(180deg,transparent,white);
}

.editor a:hover span:nth-child(2) {
    top: 100%;
    transition: 1s;
    transition-delay: 0.25s;
}

.editor a span:nth-child(3) {
    bottom: 0;
    right: -100%;
    height: 2px;
    width: 100%;
    background: linear-gradient(270deg,transparent,white);
}

.editor a:hover span:nth-child(3) {
    right: 100%;
    transition: 1s;
    transition-delay: 0.5s;
}

.editor a span:nth-child(4) {
    left: 0;
    bottom: -100%;
    height: 100%;
    width: 2px;
    background: linear-gradient(360deg,transparent,white);
}

.editor a:hover span:nth-child(4) {
    bottom: 100%;
    transition: 1s;
    transition-delay: 0.75s;
}

.foot {
    display: none;
}

/* ======================== Media Queries ============================ */

@media(max-width:1024px)
{
    html{
        font-size: 90%;
    }
    .username p {
        display: absolute;
        margin-left: 41vw;
        font-size: 2rem;
    }

}    

@media(max-width:768px)
{
    html{
        font-size: 80%;
    }

    .editor {
        transition: 3s;
    }
    
    .editor:hover {
        opacity: 1;
        background-position: center;
    }

    .username p {
        display: absolute;
        margin-left: 41vw;
        font-size: 2rem;
    }
    .email p{
        margin-left: 37.5vw;
    }
}

@media(max-width:650px)
{
    html{
        font-size: 70%;
    }
}


@media(max-width:560px)
{
    html{
        font-size: 60%;
    }
    .nav-logo {
        transform: translateX(3vh) translateY(9vh);
        font-weight: bold;
        max-width: 90vw;
    }

    .nav-logo p {
        font-size: 2.6rem;
    }

    .nav-bar {
        display: block;
        height: 22.5vh;
        text-align: right; 
    }

    nav ul li{
        line-height: 4vh;
        transform: translateY(-3.5vh);
    }

    nav ul{
        display: block;
        list-style: none;
        text-decoration: none;
    }

    .username p {
        display: absolute;
        margin-left: 30.5vw;
        font-size: 2rem;
    }
    .email p{
        margin-left: 25vw;
    }

    .editor a {
        margin-left: 35vw;
    }
}